Code/NodeRed/flows1-0.json
[{"id":"2790c9b8.3ef8ce","type":"mqtt in","z":"b652e26d.e39d","name":"","topic":"FatLumen/Status","qos":"2","datatype":"json","broker":"f6b4aaf0.a022f8","x":380,"y":100,"wires":[["b47c0b76.6bd418","a038bc9f.70dff8"]]},{"id":"b47c0b76.6bd418","type":"debug","z":"b652e26d.e39d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"e3394922.c400c8","type":"ui_gauge","z":"b652e26d.e39d","name":"","group":"2b70fb01.fe4304","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":160,"wires":[]},{"id":"a038bc9f.70dff8","type":"function","z":"b652e26d.e39d","name":"olnytemp","func":"msg.payload=(msg.payload.Temp);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":100,"wires":[["e3394922.c400c8"]]},{"id":"f6b4aaf0.a022f8","type":"mqtt-broker","z":"","name":"PiB4","broker":"10.10.11.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b70fb01.fe4304","type":"ui_group","z":"","name":"Temperature","tab":"f1a2ed8a.c394e","disp":true,"width":"6","collapse":false},{"id":"f1a2ed8a.c394e","type":"ui_tab","z":"","name":"FatLumen","icon":"dashboard","disabled":false,"hidden":false}]